@import "assets/styles/_color.scss";

.content {
  .title_style {
    margin-right: 0px;
  }

  .tab_list {
    background: $backgroundWhiteColor;
    
    .text_category {
      font-weight: 700;
      color: $lineGray;
    }

    ul {
      list-style-type: none;
      width: 100%;
      padding: 0;
      border-bottom: 1px solid $lineGray;
      white-space: nowrap;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin-bottom: 0;
    }

    ul::-webkit-scrollbar {
      display: none;
    }

    li {
      display: inline-block;
      text-align: center;
      color: $lineGray;
      font-size: 14px;
      font-weight: 700;
      padding: 18px 14px 11px 14px;
    }
  }

  .list_product {

    ul {
      padding: 0;
      width: 100%;
      list-style-type: none;
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
    }

    li {
      display: flex;
      justify-content: flex-start;
      padding: 12px;
      border-bottom: 1px solid $lineGray;
    }

    .product_item_box {
      background-color: $backgroundWhiteColor;
      justify-content: space-between;
    }

    .image_product {
      width: 72px;
      height: 72px;
      object-fit: cover;
    }

    .info_product {
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h3.title_item {
        font-size: 16px;
        font-weight: 700;
      }
      p.item_price {
        font-size: 16px;
        font-weight: 700;
        color: $colorPrice;
      }
      span.price {
        font-size: 12px;
        font-weight: 400;
      }
    }

    .right_product {
      justify-content: flex-end;
      flex-direction: row;
      display: flex;
      align-items: flex-end;
    }

    .left_product {
      display: flex;
      flex-direction: row;
    }

    .button_trash {
      width: 32px;
      height: 32px;
      padding: 8px 10px;
      margin-left: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.no_data {
  display: block !important;
  margin: 0 auto;
  text-align: center;
  border-bottom: none !important;
}

.form_button {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 16px 12px;
  background-color: $white;
  box-shadow: 0px 0 6px $lineGray;
  z-index: 98;
}

.original_price {
  font-size: 14px;
  line-height: 21px;
  color: $lineGrayDark;
  position: relative;
}

.product_original_vat {
  font-size: 10px;
  line-height: 15px;
  color: $lineGrayDark;
}

.line_through {
  width: 100%;
  border-bottom: 1px solid $lineGrayDark;
  position: absolute;
  top: 50%;
}

.flex_row_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product_vat {
  font-size: 12px;
  line-height: 18px;
  color: $colorPrice;
}
