@import "assets/styles/color";

.custom_overlay {
  background-color: $backgroudColorModal;
}

.custom_modal {
  max-width: 500px;
  margin: 16px;
  padding: 16px 12px 24px 12px;
  width: -webkit-fill-available;
  border-radius: 2px;
}

.content_modal {
  margin: 24px 0 28px 0;
  justify-content: center;
  display: flex;
}

.title {
  line-height: 27px;
  font-size: 18px;
  display: block;
  text-align: center;
  font-weight: 700;
  color: $textMain;
}

.image {
  width: 100%;
  padding-bottom: 31px;
}
.table_name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
