@import "assets/styles/color";

.custom_overlay {
  background-color: $backgroudColorModal;
}

.custom_modal {
  max-width: 500px;
  margin: 16px;
  padding: 16px 12px 24px 12px;
  width: -webkit-fill-available;
  border-radius: 2px;
}

.confirm_content {
  margin-bottom: 52px;
}

.seat_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  justify-content: center;
}

.pre_line_text {
  white-space: pre-line;
}