@import "assets/styles/color";

.store_setting {
  .content {
    background: $backgroudColor;
    padding: 12px 12px 0 12px;

    .mt_12 {
      margin-top: 12px;
    }

    .mt_5 {
      margin-top: 5px;
    }

    .mb_32 {
      margin-bottom: 32px;
    }

    .mb_24 {
      margin-bottom: 24px;
    }
  }

  .notify {
    background: $white;
    box-shadow: 0px -1px 2px $lineGray;
    padding: 15px 16px;

    .title {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      color: $textMain;
      margin-bottom: 4px;
    }

    .notify_item {
      padding: 10px 8px;
      border-radius: 2px;
      background: $backgroudColor;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow-wrap: anywhere;
    }
  }

  .add_notify {
    padding: 0 12px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-bottom: 12px solid $white;
  }

  .space {
    height: 24px;
    background: $backgroudColor;
  }

  .form_button {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    padding: 16px 12px;
    background-color: $white;
    box-shadow: 0px 0 6px $lineGray;
    z-index: 100;
  }

  .scroll_notify {
    height: 300px;
    overflow: auto;
  }
}