@import "assets/styles/color";

.custom_overlay {
  background-color: $backgroudColorModal;
}

.custom_modal {
  max-width: 500px;
  margin: 16px;
  padding: 16px 12px 24px 12px;
  width: -webkit-fill-available;
  border-radius: 2px;
}

.custom_modal {
    max-width: 500px;
    margin: 16px;
    padding: 16px 12px 24px 12px;
    width: -webkit-fill-available;
    border-radius: 2px;
}

.input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid $lineGrayDark;
  border-radius: 2px;
  font-size: 14px;
}

.navigation_next {
  right: 85px;
}

.date {
  input {
    width: 100%;
    height: 40px;
    border: 1px solid $lineGrayDark;
    padding: 8px;
    border-radius: 2px;
  }
}

button:disabled,
button[disabled] {
  border: 1px solid $lineGrayDark;
  background-color: $lineGrayDark;
}
