@import "assets/styles/color";

.top_user {
  .country {
    border: 1px solid $lineGray;
    width: 80px;
    height: 40px;
    padding: 4px;
  }

  .table_infor {
    padding: 0px 16px 16px 16px;
    margin-top: 32px;
  }

  .notifications {
    background-color: $white;
    margin: 0 12px;
  }

  .text_notification {
    display: flex;
  }

  .text_notification_child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .element_notification {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    flex-direction: row;
    align-items: center;
  }

  .element_notification_other {
    padding: 4px 8px 12px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right_noti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }

  .line {
    height: 1px;
    background-color: $lineGrayWhite;
  }

  .group_buttons {
    padding: 0 12px;
  }

  .btn_top {
    padding: 12px 0px;
  }

  .form_button {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 16px 12px;
    background-color: $white;
    box-shadow: 0px 0 6px $lineGray;
    z-index: 100;
  }

  button:disabled,
  button[disabled] {
    border: 1px solid $lineGrayDark;
    background-color: $lineGrayDark;
  }
}
