@import "assets/styles/_color.scss";

.header {
    display: flex;
    background-color: #f7f7f7;
}

.header_content {
    padding: 12px;
    margin: auto;
    font-size: 16px;
    font-weight: 700;
}

.product_tab {
    background-color: #fff;
}

.category_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
}

.category_list::-webkit-scrollbar {
    display: none;
}

.category_item {
    display: inline-block;
    text-align: center;
    color: #CACACA;
    font-size: 14px;
    font-weight: 700;
    padding: 18px 14px 11px 14px;
}

.active {
    color: #ec8273;
    border-bottom: 3px solid #ec8273;
}

.product_item {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.product_group {
    display: flex;
}

.product_img {
    width: 72px;
    height: 72px;
    margin-right: 10px;
    object-fit: cover;
}

.product_title {
    color: #e58919;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.product_dec {
    font-size: 10px;
    font-weight: 400;
    color: #57524C;
}

.product_price {
    display: flex;
    margin-top: 12px;
}

.product_new {
    font-size: 16px;
    font-weight: 700;
    color: #D25033;
    padding-right: 6px;
}

.styles.product_vat {
    font-size: 12px;
    line-height: 18px;
    color: #D25033;
}

.product_price_old {
    display: flex;
    align-items: flex-end;
}

.product_old {
    font-size: 14px;
    line-height: 21px;
    color: #A9A9A9;
}

.product_vat_old {
    font-size: 10px;
    line-height: 15px;
    color: #A9A9A9;
}

.product_delete {
    display: flex;
    align-items: flex-end;
}

.product_delete_icon {
    width: 32px;
    height: 32px;
    padding: 8px 10px;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98aaae;
}