@import "assets/styles/_color.scss";

.content {
    background: $backgroudColor;
    height: 100%;
    padding-bottom: 160px;
    .list_product {
        padding: 12px 12px 0 12px;
        ul {
            padding: 0;
            list-style-type: none;
        }
        li {
            border-bottom: 1px solid $lineGrayDark;
            padding: 12px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            :nth-child(3) {
                border-bottom: inherit;
            }
            
            span.right_product {
                font-size: 16px;
                font-weight: 400;
            }
        }
        li:nth-child(4) {
            border-bottom: none;
        }

        .line {
            height: 1px;
            background: $lineGrayWhite;
        }

        .line_option {
            height: 1px;
            background: $lineGrayDark;
        }

        span.left_product {
            font-size: 16px;
            font-weight: 700;
            img {
                width: 136px;
                height: 136px;
                object-fit: cover;
            }
        }
    }
}

.btn_product {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 16px 12px;
    background-color: $white;
    box-shadow: 0px 0 6px $lineGray;
    z-index: 100;
}

