@import "assets/styles/_color.scss";

.input {
  padding: 10px;
}

.form_product {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0.1px;
  padding-bottom: 120px;
  background-color: $backgroudColor;
}

.div_content_title {
  text-align: center;
}

.btn_back {
  position: absolute;
  left: 16px;
}

.content_title {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  line-height: 5px;
  padding-top: 16px;
}

.add_category {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

.add_option_item {
  display: flex;
  justify-content: start;
  margin-top: 16px;
}

.btn_add_category {
  width: fit-content;
}

.alert_message {
  font-size: 14px;
  color: $attentionColor;
  text-align: center;
}

.content_form {
  margin: 12px 12px 0px 12px;
}

.label_title {
  display: block;
  font-size: 14px;
  color: $textMain;
}

.input_text {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid $lineGrayDark;
  border-radius: 2px;
  font-size: 14px;
}

.validation_message {
  text-align: left;
  width: 100%;
  font-size: 14px;
  padding: 2px 0px;
  color: $attentionColor;
  display: block;
}

.form_button {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 16px 12px;
  background-color: $white;
  box-shadow: 0px 0 6px $lineGray;
  z-index: 100;
}

.filter {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid $lineGrayDark;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("/assets/images/icon_dropdown.svg") no-repeat
    calc(100% - 12px) center $white;
}

.price_product {
  display: flex;
  align-items: flex-end;
}
.price_product input {
  width: 50%;
  margin-right: 8px;
}

.image {
  position: relative;
}
.image_sub {
  position: relative;
  padding-right: 10px;
}
.icon_close {
  position: absolute;
  top: -10px;
  right: -10px;
}

.icon_close_sub {
  position: absolute;
  top: -10px;
  right: 2px;
}
.image_main_div {
  width: 100%;
  position: relative;
}
.image_main_item {
  width: 100%;
  object-fit: cover;
}

.image_sub_list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: space-between;
}

.image_sub_div {
  position: relative;
  margin-bottom: 8px;
}

.image_sub_item {
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.btn_add_main {
  width: 100% !important;
  padding: 80px !important;
}

.btn_add_sub {
  width: 80px !important;
  height: 80px;
  padding: 0;

  img {
    padding: 28px;
  }
}

.disabled {
  pointer-events: "none";
  opacity: "0.4";
}
.group_discount {
  display: flex;
  margin-top: 20px;
}

.discount {
  width: 96px;
  margin-right: 8px;
}

.type_discount {
  width: 56px;
}

.option_product {
  margin-top: 6px;
}

select:disabled {
  background-color: $backgroudColor;
}

.setting_optional {
  margin-top: 40px;

  .separate {
    border-top: 1px solid $lineGrayDark;
  }

  .separate_child {
    border-top: 1px solid $lineGray;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .button_add_group {
    padding: 10px;
    font-size: 16px;
    margin-top: 24px;
  }

  .option_groups {
    background-color: $white;
    padding: 18px 12px 24px 12px;
    margin-right: -12px;
    margin-left: -12px;
  }

  .is_required {
    margin-top: 24px;

    .radio_required {
      margin-top: 16px;
    }
  }

  .option_type {
    margin-top: 36px;

    .radio_required {
      margin-top: 16px;
    }
  }

  .add_options {
    margin-top: 32px;

    .button_trash {
      width: 40px;
      height: 40px;
      padding: 8px 10px;
      margin-left: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .flex_row {
      display: flex;
      flex-direction: row;

      p {
        display: flex;
        align-items: flex-end;
        flex: 3;
      }
    }

    .flex_row_has_message {
      display: flex;
      flex-direction: row;

      p {
        display: flex;
        align-items: center;
        flex: 3;
      }
    }
  }

  .option_amount {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    justify-content: space-between;
  }

  .button_remove_opt {
    padding: 12px;
    font-size: 16px;
    margin-top: 32px;
  }

  .flex_column_message {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .flex_row_message {
    display: flex;
    flex-direction: row;
  }

  .input_number
  {
    width: 100%;
    border: 1px solid $lineGrayDark;
    padding: 9px 10px;
    border-radius: 2px;
    font-size: 14px;
    div {
      width: 100%;
    }
    input {
      border: none;
      width: 100%;
    }
  }
}

button:disabled,
button[disabled] {
  border: 1px solid $lineGrayDark;
  background-color: $lineGrayDark;
}
