@import "assets/styles/color";

.detail_notification{
    .content {
        padding: 12px 12px 0 12px;
        .line {
            height: 1px;
            background-color: $colorLine;
            margin-top: 4px;
        }
        .div_lable {
            display: table;
            padding: 2px 8px;
            gap: 10px;
            background-color: #EE4824;
            border-radius: 100px;
        }
        .text_lable {
            font-weight: 700;
            font-size: 14px;
            line-height: 150%;
            color: #FFFFFF;
        }
        .title {
            padding-top: 8px;
        }
        .pt_9{
            padding-top: 9px;
        }
        .text_content{
            font-size: 14px;
        }
        .image {
            width: 100%;
            position: relative;  
            padding-top: 16px;   
        }
    }
    .btn_top {
        padding: 12px 0px;
      }
    
      .form_button {
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 16px 12px;
        background-color: $white;
        box-shadow: 0px 0 6px $lineGray;
        z-index: 100;
      }
}