@import "assets/styles/_color.scss";

.add_notification {

  .form_add {
    margin-top: 12px;
    padding: 0 12px;
  }

  .input_text {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid $lineGrayDark;
    border-radius: 2px;
    font-size: 14px;
  }

  .form_button {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 16px 12px;
    background-color: $white;
    box-shadow: 0px 0 6px $lineGray;
    z-index: 100;
  }

  button:disabled,
  button[disabled] {
    border: 1px solid $lineGrayDark;
    background-color: $lineGrayDark;
  }

  .btn_add_main {
    width: 100%;

    img {
      width: 20%;
      padding: 0;
    }
  }

  .image_main_item {
    width: 100%;
    object-fit: cover;
  }

  .image {
    position: relative;
  }

  .icon_close {
    position: absolute;
    top: -10px;
    right: -10px;
  }

  .image_main_div {
    width: 100%;
    position: relative;
  }
}