@import 'assets/styles/color';

.custom_overlay {
  background-color: $backgroudColorModal;
}

.custom_modal {
  max-width: 500px;
  margin: 25px;
  padding: 16px 12px 24px 12px;
  width: -webkit-fill-available;
  border-radius: 2px;
}

.mb_16 {
  margin-bottom: 16px;
}

.background {
  background-color: $backgroudColor;
  border-top: 1px solid #A9A9A9;
  border-left: 1px solid #A9A9A9;
  border-right: 1px solid #A9A9A9;
}

.root {
  width: 100%;

  .box_login {
    background: $backgroundWhiteColor;
    box-shadow: 0px 1px 2px rgba(43, 22, 22, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 12px;
    align-items: center;
  }

  .logo {
    background: $backgroundGreyColor;
    text-align: center;
  }

  .logo_img { 
    height: 32px;
    object-fit: cover;
  }

  .menu_icon {
    width: 24px;
    height: 20px;
    color: $menuIconColor;
  }
}

.form_button {
  display: flex;
  width: 100%;
  padding: 16px 12px;
  background-color: $white;
  box-shadow: 0px 0 6px $lineGray;
  height: 80px;
}

.top {

  .body_top {
    padding: 0 12px;
  }

  .notifications {
    padding: 14px 12px 14px 12px;
    background-color: $white;
    margin-bottom: 32px;
  }

  .line {
    height: 1px;
    background-color: $lineGrayWhite;
    margin: 9px 0;
  }

  .btn_table {
    padding: 0 10px;
  }
}

.product {
  .table_infor {
    padding: 0 12px 8px 12px;
    background-color: $backgroudColor;
  }

  .group_category {
    background-color: $white;
    overflow: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: inherit;
  }

  .group_category::-webkit-scrollbar {
    display: none;
  }

  .text_category {
    font-weight: 700;
    color: $lineGray;
  }

  .item_category {
    display: inline-block;
    color: $lineGray;
    text-align: center;
    padding: 18px 14px 11px 14px;
    text-decoration: none;
    border-bottom: 2px solid;
    border-color: $lineGray;
  }

  .count_product {
    margin: 6px 12px 4px;
  }

  .product_select {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid $lineGray;
  }

  .group_image {
    position: relative;
  }

  .image_product {
    width: 96px;
    height: 96px;
    object-fit: cover;
  }

  .infor_product {
    margin-left: 8px;
  }

  .text_description {
    font-size: 10px;
  }

  .price {
    font-size: 14px;
    font-weight: 700;
    color: #D25033;
    line-height: 1.5;
  }

  .cost {
    color: $lineGray;
    font-size: 10px;
  }

  .sold_out {
    width: fit-content;
    border-radius: 100px;
    position: absolute;
    top: -4px;
    left: -4px;
  }

  .text_sold_out {
    color: $white;
    font-size: 12px;
    font-weight: 700;
    margin: 2px 8px;
  }

  .price_tax_sold_out {
    font-size: 12px;
    font-weight: 400;
    color: $lineGrayDark;
  }

  .text_price_sold_out {
    color: $lineGrayDark;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
  }

  .group_bottom {
    display: flex;
    width: 100%;
    padding: 16px 12px;
    background-color: $white;
    box-shadow: 0px 0 6px $lineGray;
    height: 80px;
  }

  .group_cart {
    position: relative;
    text-align: end;
    align-self: center;
    margin-right: 14px;
  }

  .icon_cart {
    width: 32px;
    height: 28px;
  }

  .count_cart {
    position: absolute;
    width: 20px;
    height: 20px;
    color: $white;
    border-radius: 100px;
    right: -45%;
    top: -40%;
    text-align: center;
    padding-top: 1px;
  }

  .text_count_card {
    color: $white;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }

  .btn_card {
    width: auto;
    padding: 0 10px;
  }

  .text_tax {
    font-size: 12px;
    font-weight: 400;
  }

  .border_right {
    height: 28px;
    border-right: 1px solid $lineGrayDark;
    margin-left: 4px;
    align-self: center;
  }

  .price {
    text-align: end;
    align-self: center;
  }

  .price_flex_wrap {
    flex-wrap: wrap;
  }

  .text_price {
    font-size: 14px;
    font-weight: 700;
  }
}

.header_content {

  .box_header_content {
    background: $backgroudColor;
    display: flex;
    padding: 12px;
  }

  .box_title {
    height: 32px;
    text-align: center;
    flex: 1;
  }

  .title {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top_user {
  .country {
    border: 1px solid $lineGray;
    width: 80px;
    padding: 2px;
    margin-top: -3%;
    margin-bottom: -3%;
  }

  .table_infor {
    padding: 32px 0 16px 16px;
  }

  .notifications {
    background-color: $white;
    margin: 0 12px;
  }

  .text_notification {
    font-weight: 700;
  }

  .element_notification {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
  }

  .line {
    height: 1px;
    background-color: $lineGrayWhite;
  }

  .group_buttons {
    padding: 0 12px;
  }
}