@import "assets/styles/color";

.wrapper {
  height: 100%;
  padding: 0 20px;

  .infor {
    text-align: center;
    margin-top: 50px;
  }

  .text_title {
    padding: 16px 0;
  }

  .text_infor {
    padding: 16px 0;
  }

  .btn_return {
    width: 60%;
  }

  .line {
    border-top: 1px solid $lineGray;
    margin: 0 20px;
  }
}
