@import "assets/styles/_color.scss";

.table_detail {
  padding: 0.1px;
}
.filter {
  padding: 4px 12px;
  background-color: $backgroudColor;
}

.name_table {
  padding: 24px 0 4px 0;
}

.transaction_list{
  overflow-y: scroll;
  margin-bottom: 80px;
}