@import 'assets/styles/color';

.custom_overlay {
  background-color: $backgroudColorModal;
}

.custom_modal {
  max-width: 500px;
	margin: 16px;
	padding: 16px 12px 24px 12px;
	width: -webkit-fill-available;
	border-radius: 2px ;
}

.button_group{
	margin-top: 32px;
}

