@import "assets/styles/color";

.wrapper {
  .content_list {
    background: $white;
  }

  .table_name {
    padding-top: 10px;
  }

  .image_delete {
    width: 16px;
    height: 20px;
  }

  .div_icon_delete {
    width: 32px;
    height: 32px;
  }

  .item_name {
    margin: 0 12px;
    display: flex;
    flex-direction: column;
  }

  .image_edit {
    width: 20px;
    height: 20px;
  }

  .line {
    height: 1px;
    width: 100%;
    background: $lineGray;
    margin-top: 11px;
  }

  .display_content {
    display: flex;
    justify-content: space-between;
  }
}
