@import "assets/styles/color";

.wrapper {
  background: $backgroudColor;

  .content_setting {
    .table_header {
      display: flex;
      justify-content: space-between;
      margin: 20px 12px 8px 12px;

      .number_table {
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        padding-top: 15px;
      }
    }

    .alert_message {
      font-size: 14px;
      color: $attentionColor;
      text-align: center;
    }
  }
}
