//All
$mainColor: #EC8273;
$subColor: #98AAAE;

//Line
$lineGrayDark: #A9A9A9;
$lineGray: #CACACA;
$lineGrayWhite: #EFEDED;

//Text
$textMain: #2C1A04;
$textSub: #57524C;

//Icon
$iconColor: #543005;

//Background
$backgroudColor: #F7F7F7;

//Attention
$attentionColor: #EE4824;

//Common
$white: #FFFFFF;
$black: #000000;
$backgroundWhiteColor: #FFFFFF;
$backgroundGreyColor: #F2F2F2;
$boxShadowColor: #2b1616;
$menuIconColor: #543005;
$colorPrice: #D25033;
$colorLine: #CACACA;
//rgb
$backgroudColorModal: rgba(0, 0, 0, 0.7);
